<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS: oculta la carpeta lib, el almacén y la configuración (credenciales). -->
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="lib" />
          <add segment="almacen" />
          <add segment="sql" />
          <add segment="config.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
